---
import Layout from '@/layouts/Layout.astro';

import About from '@/components/sections/About.astro';
import Education from '@/components/sections/Education.astro';
import Experience from '@/components/sections/Experience.astro';
import Hero from '@/components/sections/Hero.astro';
import Keyboard from '@/components/Keyboard.astro';
import Projects from '@/components/sections/Projects.astro';
import Skills from '@/components/sections/Skills.astro';

---

<Layout title="Ivan Lerma">
	<main>
		<Hero />
		<About />
		<Skills />
		<Experience />
		<Education />
		<Projects />
		<Keyboard />
	</main>	
</Layout>

<style>
</style>
